[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=CloudFusionSaveCache;CloudFusionDeleteCache
X-KDE-Submenu=CloudFusion

[Desktop Action CloudFusionSaveCache]
Name=Save to Cache
Name[ru]=Сохранить в кэш
Icon=folder-download
Exec=bash "%h/.local/share/cloudfusion/cf-save-cache.sh" %F

[Desktop Action CloudFusionDeleteCache]
Name=Delete from Cache
Name[ru]=Удалить из кэша
Icon=edit-delete
Exec=bash "%h/.local/share/cloudfusion/cf-delete-cache.sh" %F
