[Desktop Entry]
Type=Service
MimeType=*/*
Actions=getLink;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Priority=TopLevel
Name=CloudFusion
Comment=Публичная ссылка (Yandex / Nextcloud). Установка: bash integration/desktop/install-user.sh

[Desktop Action getLink]
Name=CloudFusion: Получить публичную ссылку
Icon=link
Exec=/usr/bin/python3 REPLACE_CF_SHARE_BRIDGE %f
